@use "./partials/variables" as *;
@use "./partials/hype_utility" as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    font-family: $basefont;
}

/*utilities*/
body {
    font-family: "Amita", serif;
    font-weight: 400;
    font-style: normal;
    background-color: whitesmoke;
}

#app {
    overflow: hidden;
}

.mine-custom-btn {
    // background-color: $active-primary-color !important;
    // border: black 1px solid !important;
    /* CSS */
    align-items: center;
    appearance: none;
    background-color: #6f9920; //$title-primary;
    border: 0;
    border-radius: 6px;
    // box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    //     rgba(55, 0, 255, 0.3) 0 7px 13px -3px,
    //      rgba(58, 70, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;

    &:focus {
        box-shadow: #350909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #350909 0 -3px 0 inset;
    }

    &:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #350909 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: #350909 0 3px 7px inset;
        transform: translateY(2px);
    }
}

.min-custom-btn-grey {
    background-image: radial-gradient(100% 100% at 100% 0,
            $background-4th-color 0,
            $background-secondary-color 100%) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem $active-secondary-color !important;
}

.logo-img-container {
    width: 50px;
    min-width: 50px;
    aspect-ratio: 1/1;
}

.default-button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 2rem;

    &:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
    }
}

.err-animation {
    animation: shake 0.05s;
    animation-iteration-count: 5;

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(5px);
        }

        50% {
            transform: translateX(-5px);
        }

        75% {
            transform: translateX(5px);
        }

        100% {
            transform: translateX(0);
        }
    }
}

#admin {
    height: 100vh;
    overflow: hidden;
    display: flex;

    #sidebar {
        background-color: $background-primary-color;
        z-index: 20;
        width: 250px;
        transition: width 0.5s ease-out;

        #hype-sidebar-collapse {
            top: 40px;
            transform: translateY(-50%);
            right: -30px;
        }

        li {
            background: linear-gradient(to right,
                    $background-tertiary-color 50%,
                    $background-primary-color 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: background-position 0.5s;

            &:hover {
                background-position: left bottom;
            }
        }

        .active {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0%;
                left: 0%;
                width: 5px;
                height: 100%;
                background-color: $active-primary-color;
            }
        }
    }

    .sidebard-collapse {
        width: 80px !important;
    }

    @media screen and (max-width: 767px) {
        .sidebar-risize {
            width: 80px !important;

            .hype-text-collapse {
                display: none;
            }
        }
    }

    #wrapper {
        flex-grow: 1;

        header {
            height: 80px;
            background-image: linear-gradient(to right,
                    $background-primary-color 10%,
                    $background-secondary-color 20%);
            display: flex;
            justify-content: end;
            position: relative;
            z-index: 10;
            padding-right: 30px;

            nav {
                background-color: $background-secondary-color;
                z-index: 100;

                li {
                    position: relative;

                    &:hover::after {
                        width: 80%;
                        /* Modifica la larghezza quando passi sopra con il mouse */
                    }
                }
            }
        }

        main {
            height: calc(100vh - 80px);
            overflow-y: auto;
        }
    }
}

svg {
    width: 100% !important;
    height: 100% !important;
}

/* Cards */
.card-custom {
    overflow: hidden;
    min-height: 450px;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
    position: absolute;
    content: "";
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}

/* sezione animata con icona utente e messaggi */
#btn-message {
    --text-color: #000;
    --bg-color-sup: #d2d2d2;
    --bg-color: #f4f4f4;
    --bg-hover-color: #ffffff;
    --online-status: #00da00;
    --font-size: 16px;
    --btn-transition: all 0.2s ease-out;
}

.button-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 var(--font-size) Helvetica Neue, sans-serif;
    box-shadow: 0 0 2.17382px rgba(0, 0, 0, 0.049),
        0 1.75px 6.01034px rgba(0, 0, 0, 0.07),
        0 3.63px 14.4706px rgba(0, 0, 0, 0.091), 0 22px 48px rgba(0, 0, 0, 0.14);
    background-color: var(--bg-color);
    border-radius: 68px;
    cursor: pointer;
    padding: 6px 10px 6px 6px;
    width: fit-content;
    height: 40px;
    border: 0;
    overflow: hidden;
    position: relative;
    transition: var(--btn-transition);
}

.button-message:hover {
    height: 56px;
    padding: 8px 20px 8px 8px;
    background-color: var(--bg-hover-color);
    transition: var(--btn-transition);
}

.button-message:active {
    transform: scale(0.99);
}

.content-avatar {
    width: 30px;
    height: 30px;
    margin: 0;
    transition: var(--btn-transition);
    position: relative;
}

/* button del main */
.button-del-main {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(180, 26, 26);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 2px;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button-del-main:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0;
}

.bin-top {
    transform-origin: bottom right;
}

.button-del-main:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
}

/* Btn-add-index */
.btn-add-index {
    position: absolute;
    top: 80px;
    right: 25px;
}

/* notification button */
#btn-message {
    --text-color: #000;
    --bg-color-sup: #d2d2d2;
    --bg-color: #f4f4f4;
    --bg-hover-color: #ffffff;
    --online-status: #00da00;
    --font-size: 16px;
    --btn-transition: all 0.2s ease-out;
}

.button-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 var(--font-size) Helvetica Neue, sans-serif;
    box-shadow: 0 0 2.17382px rgba(0, 0, 0, 0.049),
        0 1.75px 6.01034px rgba(0, 0, 0, 0.07),
        0 3.63px 14.4706px rgba(0, 0, 0, 0.091), 0 22px 48px rgba(0, 0, 0, 0.14);
    background-color: var(--bg-color);
    border-radius: 68px;
    cursor: pointer;
    padding: 6px 10px 6px 6px;
    width: fit-content;
    height: 40px;
    border: 0;
    overflow: hidden;
    position: relative;
    transition: var(--btn-transition);
}

.button-message:hover {
    height: 56px;
    padding: 8px 20px 8px 8px;
    background-color: var(--bg-hover-color);
    transition: var(--btn-transition);
}

.button-message:active {
    transform: scale(0.99);
}

.content-avatar {
    width: 30px;
    height: 30px;
    margin: 0;
    transition: var(--btn-transition);
    position: relative;
}

.button-message:hover .content-avatar {
    width: 40px;
    height: 40px;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg-color-sup);
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.status-user {
    position: absolute;
    width: 6px;
    height: 6px;
    right: 1px;
    bottom: 1px;
    border-radius: 50%;
    outline: solid 2px var(--bg-color);
    background-color: var(--online-status);
    transition: var(--btn-transition);
    animation: active-status 2s ease-in-out infinite;
}

.button-message:hover .status-user {
    width: 10px;
    height: 10px;
    right: 1px;
    bottom: 1px;
    outline: solid 3px var(--bg-hover-color);
}

.notice-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8px;
    text-align: initial;
    color: var(--text-color);
}

.username {
    letter-spacing: -6px;
    height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: var(--btn-transition);
}

.user-id {
    font-size: 12px;
    letter-spacing: -6px;
    height: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: var(--btn-transition);
}

.lable-message {
    display: flex;
    align-items: center;
    opacity: 1;
    transform: scaleY(1);
    transition: var(--btn-transition);
}

.button-message:hover .username {
    height: auto;
    letter-spacing: normal;
    opacity: 1;
    transform: translateY(0);
    transition: var(--btn-transition);
}

.button-message:hover .user-id {
    height: auto;
    letter-spacing: normal;
    opacity: 1;
    transform: translateY(0);
    transition: var(--btn-transition);
}

.button-message:hover .lable-message {
    height: 0;
    transform: scaleY(0);
    transition: var(--btn-transition);
}

.lable-message,
.username {
    font-weight: 600;
}

.number-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    background-color: var(--bg-color-sup);
    border-radius: 20px;
}

@keyframes active-status {
    0% {
        background-color: var(--online-status);
    }

    33.33% {
        background-color: #93e200;
    }

    66.33% {
        background-color: #93e200;
    }

    100% {
        background-color: var(--online-status);
    }
}

/* stile del form di aggiunta e modifica*/
img {
    max-width: 100%;
    display: block;
}

input {
    border-radius: 0;
}

.card-form-main {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    max-width: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
    padding: 0.75rem;
}

.card-image {
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 65%;
    background-image: url("https://wallpapers.com/images/featured/food-4k-1pf6px6ryqfjtnyr.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 0 5%;
    position: relative;
}

.card-heading {
    position: absolute;
    left: 10%;
    top: 15%;
    right: 10%;
    font-size: 2.75rem;
    font-weight: 700;
    color: #735400;
    line-height: 1.222;
}

.card-heading small {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.25em;
}

.card-form {
    padding: 2rem 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.action {
    margin-top: 2rem;
}

textarea {
    max-width: 100%;
}

.action-button {
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color: #6658d3;
    border-radius: 6px;
    color: #fff;
    border: 0;
}

.action-button:focus {
    outline: 0;
}

@media (max-width: 767px) {
    .card-form-main {
        width: calc(100% - 100px);
        /* Il contenitore occupa tutta la larghezza dello schermo */
        padding: 0;
    }

    textarea {
        width: 10%;
    }

    .card-image {
        padding-bottom: 56.25%;
        /* Mantieni le proporzioni dell'immagine 16:9 */
    }

    .card-heading {
        font-size: 1.8rem;
        /* Riduci la dimensione del titolo */
    }

    .form-group {
        margin-bottom: 1rem;
        /* Aggiungi spazio tra gli elementi del form */
    }
}

/* bottone di logout della nav-bar */

.Btn-logout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
}

/* hover effect on button width */
.Btn-logout:hover {
    width: 175px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.Btn-logout:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
}

/* hover effect button's text */
.Btn-logout:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
}

/* button click effect*/
.Btn-logout:active {
    transform: translate(2px, 2px);
}

/* cards */
.card-custom {
    max-width: 900px;
    margin: 0 auto;

    img {
        height: 250px;
        padding: 3px;
        object-fit: cover;
    }
}

/*Loader*/
.loader-container {
    margin-top: 50px;

    .loader {
        display: block;
        position: relative;
        height: 40px;
        width: 280px;
        background-image: linear-gradient(#fdb515 40px, transparent 0),
            linear-gradient(#fdb515 40px, transparent 0),
            linear-gradient(#fdb515 40px, transparent 0),
            linear-gradient(#fdb515 40px, transparent 0);
        background-repeat: no-repeat;
        background-size: 40px auto;
        background-position: 0 0, 80px 0, 160px 0, 240px 0;
        animation: pgfill 1s linear infinite;
    }

    @keyframes pgfill {
        0% {
            background-image: linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0);
        }

        25% {
            background-image: linear-gradient(#ff3d00 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0);
        }

        50% {
            background-image: linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#ff3d00 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0);
        }

        75% {
            background-image: linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#ff3d00 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0);
        }

        100% {
            background-image: linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#fdb515 40px, transparent 0),
                linear-gradient(#ff3d00 40px, transparent 0);
        }
    }
}

/* -------------------------------------------------------------------------------- */
/* ! Show resturant: pagina dettaglio ristorante */
/* -------------------------------------------------------------------------------- */
#details-resturant {
    width: 50%;
    border-radius: 10px;
}

img.img-show-resturant {
    height: 350px;
    width: 100%;
    padding: 0;
    margin-bottom: 80px;
    overflow: hidden;
}

/* card di dettaglio nella show */
.card-custom {
    max-width: 900px;
    margin: 0 auto;

    img {
        height: 250px;
        padding: 3px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    #details-resturant {
        width: 80%;
    }
}

/*404 page*/
.page-404 {
    .fundo {
        animation: scales 3s alternate infinite;
        transform-origin: center;
    }

    .pao-baixo {
        animation: rotatepao 14s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
        transform-origin: center;
    }

    .pao-cima {
        animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
        transform-origin: center;
    }

    .olhos {
        animation: olhos 2s alternate infinite;
        transform-origin: center;
    }

    .left-sparks {
        animation: left-sparks 4s alternate infinite;
        transform-origin: 150px 156px;
    }

    .right-sparks {
        animation: left-sparks 4s alternate infinite;
        transform-origin: 310px 150px;
    }

    .olhos {
        animation: olhos 2s alternate infinite;
        transform-origin: center;
    }

    @keyframes scales {
        from {
            transform: scale(0.98);
        }

        to {
            transform: scale(1);
        }
    }

    @keyframes rotatepao {
        0% {
            transform: rotate(0deg);
        }

        50%,
        60% {
            transform: rotate(-20deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes olhos {
        0% {
            transform: rotateX(0deg);
        }

        100% {
            transform: rotateX(30deg);
        }
    }

    @keyframes left-sparks {
        0% {
            opacity: 0;
        }
    }

    .main {
        min-height: 600px;
        margin: 0px auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .path {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 4s alternate infinite;
    }

    @keyframes dash {

        0%,
        30% {
            fill: 4B4B62;
            stroke-dashoffset: 0;
        }

        80%,
        100% {
            fill: transparent;
            stroke-dashoffset: -200;
        }
    }
}

/* stile login */

#login,
#registration-card {
    background: rgba(0, 0, 0, 0.466);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: white;
    font-weight: 800;
    padding: 20px;

    a {
        color: whitesmoke;
    }
}

/* stile barra naviagazione login-signup */

#admin-nav {
    background: rgba(255, 255, 255, 0.466);
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: white;
}

/* stile app blade */
#app-blade {
    background-image: url(/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* stile logo */
.navbar-brand {
    width: 80px;
}

/* accordion style */

/* cambia il colore di sfondo dell'intestazione dell'accordion */
.accordion-button {
    background-color: #007bff;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #0056b3;
    /* colore quando l'accordion è espanso */
    color: white;
}

/* cambia il colore di sfondo del corpo dell'accordion */
.accordion-body {
    background-color: #f8f9fa;
}

/* cambia il colore del bordo dell'accordion */
.accordion-item {
    border: 1px solid #dee2e6;
}

.sign {
    padding: 5px;
}

.register-btn {
    background-color: #6f9920;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
}

.register-btn:hover,
.register-btn:active {
    background-color: #70ad00;
    ;
}

.debug {
    border: 1px solid red;
}