$text-primary: #000000;
$title-primary: #b7450a;
$banner-primary: #ffcc01;
$banner-secondary: #fdb515;
$banner-tertiary: #f79400;
$background-primary: #eeeeee;

$background-4th-color: #ecca6d;
$background-tertiary-color: #e6b42c;
$background-secondary-color: #bb952e;
$background-primary-color: #d98825;
$background-zero-color: #b6791d;
$background-footer: #001a33;

$active-primary-color: none;
$active-secondary-color: none;
$active-tertiary-color: rgb(193, 214, 216);
$basefont:"Ubuntu", sans-serif;
$primary-color: #fff;
$cursor: pointer;

.example-color {
    background-color: #001a33;
}
